.player-image{
    height:150px;
}
.player-div{
    margin-bottom: 10px;
   
} 

.player-card-div{
    border-radius:15px;
    overflow:hidden;
    box-shadow: 2px 13px 38px -1px rgba(8,8,8,0.73);
    -webkit-box-shadow: 2px 13px 38px -1px rgba(8,8,8,0.73);
    -moz-box-shadow: 2px 13px 38px -1px rgba(8,8,8,0.73);
    
}